<div class="form-group" >
  <label>Label Font Size - {{ vis.params.fontSizeLabel }}pt</label>
  <input type="range" ng-model="vis.params.fontSizeLabel" class="form-control" min="12" max="60" />
</div>
<div class="form-group">
  <label>Value Font Size - {{ vis.params.fontSizeValue }}pt</label>
  <input type="range" ng-model="vis.params.fontSizeValue" class="form-control" min="12" max="60" />
</div>
<div class="form-group">
  <label>Alternate Colors</label>
  <input type="checkbox" ng-model="vis.params.alternateColors" class="form-control" min="12" max="60" />
</div>
